{% extends 'base.html' %}
{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
<h1>Flask app base</h1>
<p>Don't start from scratch</p>
{% endblock %}
